@model List<StoreManagement.Models.Category>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Category Name</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody class="clsCategoryFilter">
        @foreach (var category in Model)
        {
            <tr search-field="@category.Category_Name">
                <th scope="row">@category.ID</th>
                <td>@category.Category_Name</td>
                <td>
                    <button title="Modify" class="btn btn-info pull-left clsManageCategory" object-id="@category.ID" object-mode="M">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                    @if (!category.InUse)
                    {
                        <button title="Delete" class="btn btn-info pull-left clsManageCategory" object-id="@category.ID" object-mode="D">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    }
                </td>
            </tr>

        }
        @if (Model.Count == 0)
        {
            <tr class="clsNoCategoryRecords" style="text-align:center;">
                <td colspan="10">No Category Found</td>
            </tr>
        }
        else
        {
            <tr class="clsNoCategoryRecords" style="text-align:center; display:none;">
                <td colspan="10">No Category Found</td>
            </tr>
        }
    </tbody>
</table>
